---
layout: none
---
<!--
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Engagement' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
        });
      });
    </script>
    <script>
      $("#slideshow > div:gt(0)").hide();
      setInterval(function() {
        $('#slideshow > div:first')
          .fadeOut(500)
          .next()
          .fadeIn(500)
          .end()
          .appendTo('#slideshow');
      },  2000);
    </script>
  </head>
  <body>
    <!---start-wrap-->
    <!---start-header-->
    <div class="header" id="home" id="content">
      <div class="top-header">
        <div class="wrap">
          <div class="logo">
            <img alt="Accueil" src="http://terredesjeunes.org/sites/terredesjeunes.org/files/fusion_starter_tdj_logo.jpg">
            <a href="#">{{ site.title }}</a>
          </div>
          <div class="top-nav">
            <ul>
              <li class="active"><a href="#home" class="scroll">{{ site.menu1title }} </a></li>
              <li><a href="#apropos" class="scroll">{{ site.section_1_menu }}</a></li>
              <li><a href="#quisommesnous" class="scroll">{{ site.section_2_menu }}</a></li>
              <li><a href="#activites" class="scroll">{{ site.section_3_menu }}</a></li>
              <li><a href="#infospratiques">{{ site.section_4_menu }}</a></li>
              <li><a href="http://terredesjeunes.org/contact">Contact</a></li>
              <li><a href="#carte" class="scroll">Carte</a></li>
            </ul>
          </div>
          <div class="clear"> </div>
          <!---//End-header-->
        </div>
      </div>
      <!---start-slider-->
      <div class="slider-info">
        <h2>{{ site.slogan_ligne_1 }}</h2>
        <h1>{{ site.slogan_ligne_2 }}</h1>
        <div id="not-a-slideshow">
          <div>
            <p>{{ site.slogan_ligne_3 }}</p>
          </div>
        </div>
      </div>
    </div>
    <!---//End-slider-->
    <!---start-content-->
    <div class="content">
      <div class="top-grids" id="apropos">
        <div class="welcome-note">
          <h3>{{ site.section_1_titre }}</h3>
          <p>{{ site.section_1_desc }}</p>
        </div>
        <div class="wrap">
          <div class="top-grid-row">
            <div class="top-grid">
              <h3><img src="images/icon1.png">{{ site.section_1_colonne_1_titre }}</h3>
              <p>{{ site.section_1_colonne_1_desc }}</p>
            </div>
            <div class="top-grid">
              <h3><img src="images/icon5.png">{{ site.section_1_colonne_2_titre }}</h3>
              <p>{{ site.section_1_colonne_2_desc }}</p>
            </div>
            <div class="top-grid">
              <h3><img src="images/icon4.png">{{ site.section_1_colonne_3_titre }}</h3>
              <p>{{ site.section_1_colonne_3_desc }}</p>
            </div>
            <div class="clear"> </div>
          </div>
          <div class="our-mission" id="quisommesnous">
            <div class="our-mission-left">
              <h4>{{ site.section_2_titre }}</h4>
            </div>
            <div class="our-mission-right">
              <p>{{ site.section_2_texte }}</p>
            </div>
            <div class="clear"> </div>
          </div>
          <div class="trust">
            <h4>{{ site.section_2_dates }}</h4>
            <p>{{ site.section_2_dates_desc }}</p>
          </div>
          <div class="sub-about-grids">
            <div class="sub-about-grid">
              <p class="sub-about-grid-people">{{ site.section_2_colonne_1_desc }}</p>
              <h4><img src="{{ site.section_2_colonne_1_image }}" alt="" />{{ site.section_2_colonne_1_titre }}</h4>
            </div>
            <div class="sub-about-grid">
              <p class="sub-about-grid-people">{{ site.section_2_colonne_2_desc }}</p>
              <h4><img src="{{ site.section_2_colonne_2_image }}" alt="" />{{ site.section_2_colonne_2_titre }}</h4>
            </div>
            <div class="sub-about-grid">
              <p class="sub-about-grid-people">{{ site.section_2_colonne_3_desc }}</p>
              <h4><img src="{{ site.section_2_colonne_3_image }}" alt="" />{{ site.section_2_colonne_3_titre }}</h4>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
      <div class="mid-banner">
        <div class="wrap">
          <h3>{{ site.section_3_titre }}</h3>
          <p>{{ site.section_3_desc }}</p>
        </div>
      </div>
      <div class="our-mission" id="activites">
        <div class="wrap">
          <div class="our-mission-left">
            <h4>{{ site.section_3_titre }}</h4>
          </div>
          <div class="our-mission-right">
            <p>{{ site.section_3_desc_long }}</p>
          </div>
          <div class="clear"> </div>
          <div id="ca-container" class="ca-container">
            <div class="ca-wrapper">
              {% for activity in site.data.activites %}
                <div class="ca-item ca-item-{{ activity.identifiant_unique }}">
                <div class="ca-item-main">
                  <div class="ca-icon"> </div>
                  <h3>{{ activity.titre }}</h3>
                  <h4>
                    <span class="ca-quote">&ldquo;</span>
                    <span>{{ activity.description }}</span>
                  </h4>
                  <a href="#" class="ca-more">+</a>
                </div>
                <div class="ca-content-wrapper">
                  <div class="ca-content">
                    <h6>{{ activity.titre }}</h6>
                    <a href="#" class="ca-close">close</a>
                    <div class="ca-content-text">
                      {{ activity.description_longue }}
                    </div>
                    <!--<ul>
                      <li><a href="#">Read more</a></li>
                      <li><a href="#">Share this</a></li>
                      <li><a href="#">Become a member</a></li>
                      <li><a href="#">Donate</a></li>
                    </ul>-->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- the jScrollPane script -->
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
          <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
          <!-- the jScrollPane script -->
          <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
          <script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
          <script type="text/javascript">
            $('#ca-container').contentcarousel();
          </script>
          <!---start-mid-grids-->
          <div class="mid-grids" id="infospratiques">
            <div class="mid-grids-header">
              <h3>{{ site.section_4_titre }}</h3>
            </div>
            <ul class="grid cs-style-2">
              {% for info in site.data.infos_pratiques %}
                <li>
                  <figure>
                    <img src="http://terredesjeunes.org/sites/terredesjeunes.org/files/info.jpg" width="400" heigth="300" alt="{{ post.titre }}">
                    <figcaption>
                      <h3>{{ info.titre }}</h3>
                      <span>{{ info.desc }}</span>
                      <a href="pratique.html" class="biglink">En savoir plus</a>
                    </figcaption>
                    <div class="caption-overlay">
                    {{ info.titre }}
                    </div>
                  </figure>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- /container -->
          <script src="js/toucheffects.js"></script>
          <script src="js/modernizr.custom.js"></script>
        </div>
        <!---End-mid-grids-->
        <!---start-contact-->
        <div class="contact" id="carte">
          <div class="contact-header">
            <p>Mise en page une gracieuseté de <a href="http://w3layouts.com">W3 Layouts</a></p>
            <p>Créez-vous un compte sur <a href="https://github.com/">GitHub</a> et <a href="https://github.com/alberto56/minisite-sommet-tdj/edit/gh-pages/_config.yml">Modifiez ce site</a>,<br/>
            voyez la <a href="https://github.com/alberto56/minisite-sommet-tdj/pulls?q=is%3Aopen+is%3Apr">liste des modifications proposées</a>.<br/>
            Si vous avez une question, un commentaire ou une préoccupation,<br/><a href="https://github.com/alberto56/minisite-sommet-tdj/issues?q=is%3Aopen+is%3Aissue">ajoutez-la à cette liste en cliquant "New issue"</a></p>
          </div>
          <div class="contact-box">
            <div class="contact-map">
              <!--see http://stackoverflow.com/questions/21992498-->
              <div style="background:transparent;
   position:relative;
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
" onClick="style.pointerEvents='none'"></div>
              <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/?ie=UTF8&amp;ll={{ site.emplacement_ll }}&amp;spn=3.803105,6.696167&amp;t=m&amp;z=10&amp;output=embed&amp;scrollwheel=FALSE"></iframe></small>
            </div>
          </div>
          <!---End-contact-->
        </div>
        <!---start-copy-right-->
        <div class="copy-right">
          <p>Design by <a href="http://w3layouts.com/">w3layouts</a></p>
          <div style="display:none;" class="nav_up" id="nav_up"> </div>
          <script src="scroll-startstop.events.jquery.js" type="text/javascript"></script>
          <script>
            $(function() {
              var $elem = $('#content');

              $('#nav_up').fadeIn('slow');
              $('#nav_down').fadeIn('slow');

              $(window).bind('scrollstart', function(){
                $('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
              });
              $(window).bind('scrollstop', function(){
                $('#nav_up,#nav_down').stop().animate({'opacity':'1'});
              });

              $('#nav_down').click(
                function (e) {
                  $('html, body').animate({scrollTop: $elem.height()}, 800);
                }
              );
              $('#nav_up').click(
                function (e) {
                  $('html, body').animate({scrollTop: '0px'}, 800);
                }
              );
                  });

          </script>
        </div>
        <!---End-copy-right-->
      </div>
    </div>
    <!---//End-content-->
    <!---//End-wrap-->
  </body>
</html>
