<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html>
   <head>
      <title>Sommet Togo 2015: Réservez votre place !</title>
      <link href="/css/style.css" rel="stylesheet" type="text/css"  media="all" />
      <style>
        .bl-icon-first:before {
          content: url('../images/icon-{{ page.choice1logo }}.png');
        }
        .bl-icon-second:before {
          content: url('../images/icon-{{ page.choice2logo }}.png');
        }
      </style>
      <link href="../web-template/css/style.css" rel='stylesheet' type='text/css' />
      <link href="../web-template/css/bootstrap.css" rel='stylesheet' type='text/css' />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Splashy Bootstrap  Responsive web template,booklet, layout, bookblock, jquery plugin, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
         />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      </script>
      <script src="../web-template/js/jquery-1.11.0.min.js"></script>
      <script src="../web-template/js/modernizr.custom.js"></script>
      <!--webfonts-->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>
      <!--//webfonts-->
   </head>
   <body class="internal choice">
      {% include visual-header.html %}
      <h1><a href="http://sommet.terredesjeunes.org/">Sommet Terre des jeunes Togo 2015</a> : Réservez votre place !</h1>
      <h2 class="top">{{ page.title }}</h2>
      <p>{{ page.subtitle }}</p>
      <div class="dummy">
         <div id="bl-main" class="bl-main">
            <section>
               <a href="{{ page.choice1href }}">
               <div class="bl-box">
                  <h2 class="bl-icon bl-icon-first">{{ page.choice1title }}</h2>
                  <h2 class="bl-icon bl-sub">{{ page.choice1sub }}</h2>
               </div>
               <span class="bl-icon bl-icon-close"></span>
               </a>
            </section>
            <section id="bl-work-section">
               <a href="{{ page.choice2href }}">
               <div class="bl-box">
                  <h2 class="bl-icon bl-icon-second">{{ page.choice2title }}</h2>
                  <h2 class="bl-icon bl-sub">{{ page.choice2sub }}</h2>
               </div>
               <span class="bl-icon bl-icon-close"></span>
               </a>
            </section>
         </div>
      </div>
      <div style="height:50%">&nbsp;</div>
      <p>Si vous êtes du Togo, vous bénéficierz d'un tarif spécial de 26 euros pour les membres par volet, ou 32 euros pour les non-membres. <a href="http://terredesjeunes.org/contact?edit[cid]=4">Contactez TDJ Togo pour réserver votre place</a></a></p>
      <div></div><img src="http://terredesjeunes.org/sites/terredesjeunes.org/files/tarifs.png" /></div>
      <p>Note 1 : Ces tarifs incluent le transport de l'aéroport à l'hôtel, de l'hôtel au site du sommet, l'hébergement des trois volets sur le site, tous les repas (sauf 4 repas à Lomé)), un t-shirt et des frais d'infirmerie. Ces tarifs excluent l'hôtel à Lomé à l'arrivée.</p>
      <p>Note 2 : Ces tarifs incluent le transport de l'aéroport à l'hôtel de Lomé, de l'hôtel à votre auberge à proximité de l'écovillage, les repas (sauf 4 repas à Lomé)), un t-shirt et des frais d'infirmerie. Vos tarifs excluent votre hébergement. Vous devrez réserver votre hôtel à Lomé le jour de l'arrivée et votre auberge à proximité de l'écovillage. Des auberges vous seront proposées dans le Cahier du participant à venir. Vos transports locaux de l'auberge à l'écovillage seront à vos frais.</p>
      <p>Note 3 : Ces tarifs incluent le transport de l'aéroport à l'hôtel, de l'hôtel au site du sommet, l'hébergement des trois volets sur le site, tous les repas (sauf 4 repas à Lomé)), un t-shirt et des frais d'infirmerie. Ces tarifs excluent l'hôtel à Lomé à l'arrivée.</p>
      <p>Note 4 : Ces tarifs incluent le transport de l'aéroport à l'hôtel, de l'hôtel au site du sommet, l'hébergement des deux volets sur le site, tous les repas (sauf 4 repas à Lomé)), un t-shirt et des frais d'infirmerie. Ces tarifs excluent l'hôtel à Lomé à l'arrivée.</p>
      <p>Note 5 : Les membres de TDJ-Togo s'investissent en temps et en argent depuis de nombreux mois et seront responsables de nous tout au cours du Sommet. Ils sont ainsi exempts des coûts de participation.</p>
      <p>Note 6 : Ces frais incluent l'inscription, 5 repas du midi (volet 2), un t-shirt et des frais d'infirmerie.</p>
      <p><a href="http://terredesjeunes.org/sites/terredesjeunes.org/files/tarifs_v_20150420.pdf"></a>Trouvez la grille tarifaire complète en version PDF</a></p>
      <div class="copy-right">
         <div class="container">
            <p>Copyright &copy; 2015  All rights  Reserved | Template by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
         </div>
      </div>
      <!--//end-copyright-->
   </body>
</html>
