<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html>
   <head>
      <title>Sommet Togo 2015: Réservez votre place !</title>
      <link href="/css/style.css" rel="stylesheet" type="text/css"  media="all" />
      <style>
        .bl-icon-first:before {
          content: url('../images/icon-{{ page.choice1logo }}.png');
        }
        .bl-icon-second:before {
          content: url('../images/icon-{{ page.choice2logo }}.png');
        }
      </style>
      <link href="../web-template/css/style.css" rel='stylesheet' type='text/css' />
      <link href="../web-template/css/bootstrap.css" rel='stylesheet' type='text/css' />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Splashy Bootstrap  Responsive web template,booklet, layout, bookblock, jquery plugin, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
         />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      </script>
      <script src="../web-template/js/jquery-1.11.0.min.js"></script>
      <script src="../web-template/js/modernizr.custom.js"></script>
      <!--webfonts-->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>
      <!--//webfonts-->
   </head>
   <body class="internal choice">
      {% include visual-header.html %}
      <h1><a href="http://sommet.terredesjeunes.org/">Sommet Terre des jeunes Togo 2015</a> : Réservez votre place !</h1>
      <h2 class="top">{{ page.title }}</h2>
      <p>{{ page.subtitle }}</p>
      <div class="dummy">
         <div id="bl-main" class="bl-main">
            <section>
               <a href="{{ page.choice1href }}">
               <div class="bl-box">
                  <h2 class="bl-icon bl-icon-first">{{ page.choice1title }}</h2>
                  <h2 class="bl-icon bl-sub">{{ page.choice1sub }}</h2>
               </div>
               <span class="bl-icon bl-icon-close"></span>
               </a>
            </section>
            <section id="bl-work-section">
               <a href="{{ page.choice2href }}">
               <div class="bl-box">
                  <h2 class="bl-icon bl-icon-second">{{ page.choice2title }}</h2>
                  <h2 class="bl-icon bl-sub">{{ page.choice2sub }}</h2>
               </div>
               <span class="bl-icon bl-icon-close"></span>
               </a>
            </section>
         </div>
      </div>
      <div class="copy-right">
         <div class="container">
            <p>Copyright &copy; 2015  All rights  Reserved | Template by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
         </div>
      </div>
      <!--//end-copyright-->
   </body>
</html>
